<div class="w-full min-h-[calc(100vh-84px)]  flex justify-center items-center">
    <mat-stepper linear #stepper class=" rounded-lg shadow-md p-4 w-full">
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <form [formGroup]="firstFormGroup" class="space-y-4">
                <ng-template matStepLabel>
                    <span class="text-lg font-semibold text-gray-700">Birthdate</span>
                </ng-template>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" formControlName="firstCtrl"
                        required class="w-full">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="flex justify-end space-x-2">
                    <button mat-button matStepperNext class="bg-blue-500 text-white hover:bg-blue-600">Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <form [formGroup]="secondFormGroup" class="space-y-4">
                <ng-template matStepLabel>
                    <span class="text-lg font-semibold text-gray-700">First Name</span>
                </ng-template>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="name" required class="w-full">
                </mat-form-field>
                <div class="flex justify-between">
                    <button mat-button matStepperPrevious
                        class="bg-gray-300 text-gray-800 hover:bg-gray-400">Back</button>
                    <button mat-button matStepperNext class="bg-blue-500 text-white hover:bg-blue-600">Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" [editable]="isDpiEnabled">
            <ng-template matStepLabel>
                <span class="text-lg font-semibold text-gray-700">Additional Information</span>
            </ng-template>
            <form [formGroup]="thirdFormGroup" class="space-y-4">
                <mat-slide-toggle formControlName="isDpiEnabled" class="w-full">DPI</mat-slide-toggle>
                <div *ngIf="isDpiEnabled">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>DPI</mat-label>
                        <input matInput formControlName="dpiCtrl" placeholder="Enter DPI" required class="w-full">
                    </mat-form-field>
                </div>
            </form>
            <div class="flex justify-between mt-4">
                <button mat-button matStepperPrevious class="bg-gray-300 text-gray-800 hover:bg-gray-400">Back</button>
                <button mat-button (click)="stepper.reset()"
                    class="bg-green-500 text-white hover:bg-green-600">Send</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>