@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

.content {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: radial-gradient(at 12.301767042399847% 65.33731710444044%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 47.85563595597115% 35.62907383239686%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 91.46883984385492% 32.409980805313296%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 18.63339504714252% 77.76221122671707%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 3.4166047327987448% 32.11962524262473%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 55.60759336707153% 65.42694080448577%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 33.57474344211979% 7.322168691401676%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 86.71115373933999% 83.38445689449576%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 67.3899079219457% 62.43942885056821%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 22.348055684246027% 66.96663521188104%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%);
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.container {
    flex: 1;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    color: #000;
    border-radius: 16px;
    padding: 10px 20px;
}

.item {
    margin-right: 20px;
    margin-left: 20px;
}

.parent {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.parent div {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
    padding: 10px;
}

.div1 {
    color: #fff;
    background: radial-gradient(at 12.301767042399847% 65.33731710444044%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 47.85563595597115% 35.62907383239686%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 91.46883984385492% 32.409980805313296%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 18.63339504714252% 77.76221122671707%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 3.4166047327987448% 32.11962524262473%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 55.60759336707153% 65.42694080448577%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 33.57474344211979% 7.322168691401676%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 86.71115373933999% 83.38445689449576%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%), radial-gradient(at 67.3899079219457% 62.43942885056821%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 1) 0%, hsla(250.75144508670522, 96.64804469273744%, 64.90196078431373%, 0) 100%), radial-gradient(at 22.348055684246027% 66.96663521188104%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 1) 0%, hsla(162.8108108108108, 98.93048128342247%, 63.33333333333333%, 0) 100%);
    grid-area: 1 / 1 / 3 / 5;
}

.div2 {
    grid-area: 3 / 1 / 6 / 3;
}

.div3 {
    grid-area: 6 / 1 / 7 / 3;
}

.div4 {
    grid-area: 5 / 3 / 7 / 5;
}

.div5 {
    grid-area: 3 / 3 / 5 / 5;
}

.div6 {
    grid-area: 1 / 5 / 7 / 7;
}