@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

.content {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2B2E3F;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.container {
    flex: 1;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #000;
    border-radius: 16px;
    padding: 10px 20px;
}

.item {
    margin-right: 20px;
    margin-left: 20px;
}

.parent {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.parent div {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
    padding: 10px;
}

.btn {
    padding: 10px 30px;
    background-color: #00A8FB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.div1 {
    background-color: #01CA84;
    grid-area: 1 / 1 / 2 / 4;
}

.div2 {
    background-color: #00A8FB;
    grid-area: 1 / 4 / 2 / 7;
}

.div3 {
    background-color: #FF416B;
    grid-area: 1 / 7 / 2 / 10;
}

.div4 {
    background-color: #FF9A00;
    grid-area: 1 / 10 / 2 / 13;
}

.div5 {
    grid-area: 2 / 7 / 6 / 10;
}

.div6 {
    grid-area: 2 / 10 / 6 / 13;
}

.div7 {
    grid-area: 6 / 7 / 8 / 10;
}

.div8 {
    grid-area: 6 / 10 / 8 / 13;
}

.div9 {
    grid-area: 2 / 1 / 8 / 7;
}

.div10 {
    grid-area: 8 / 1 / 12 / 9;
}

.div11 {
    grid-area: 8 / 9 / 12 / 13;
}