<mat-dialog-content>
    <p><strong>{{data.title}}</strong></p>
    <mat-form-field class="w-full">
        <mat-label>Name (required)</mat-label>
        <input matInput [(ngModel)]="data.name" required #nameInput="ngModel"  />
        <mat-error *ngIf="nameInput.invalid && nameInput.touched">Name is required</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="{animal: animal(), name: data.name}" cdkFocusInitial
        [disabled]="nameInput.invalid">Ok</button>
</mat-dialog-actions>
